<template lang="html">
  <div class="cell" @click="markPoint">
    {{ owner ? owner : '' }}
  </div>
</template>
<style lang="css" scoped>
  .cell {
    margin: 1px;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    background-color: aqua;
  }
</style>
<script src="./cell.js"></script>
