<template lang="html">
  <div class="wrapper" >
    <template v-for="y in 10">
      <div>
        <template v-for="x in 10">
          <cell :coords="{ 'x': x-1, 'y': y-1 }" ></cell>
        </template>
      </div>
    </template>
    <div v-show="isGameOver">
      Game Over!
    </div>
  </div>
</template>

<script lang="babel" src="./field.js"></script>

<style lang="css" scoped>
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper > div {
    display: flex;
  }
</style>
